div {
    border: solid rgb(238, 185, 115)1px;
    margin-top: 50px; /* Topo da margem */
    margin-right: 50px; /* direita da margem */
    margin-bottom: 50px; /*base da margem*/
    margin-left: 50px; /* esquerda da margem */
}

p{
    border: solid blueviolet 1px;
    padding: 20px;
    margin: 20px;
}